$light-grey: #fafafa;
$blue: #3030ff;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: block;
  background-color: $light-grey;
  height: 146px;
  margin: 20px;
  padding: 20px 0 0 20px;
}

h1 {
  font-weight: bold;
}

li {
  list-style-type: none;
}

.list li {
  text-transform: uppercase;
}

select {
  border: none;
  background-color: transparent;
  margin: 15px;
}
