$light-grey: #fafafa;
$blue: #3030ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: auto;
}

p {
  font-size: 24px;
  color: #272727;
}

h1 {
  font-size: 68px;
  color: #3030ff;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  color: black;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: smaller;
  color: rgba(39, 39, 39, 0.6);
}

/*
-----Header Menu-----
*/

.header {
  width: 100%;
  height: 120px;
  background: #fafafa;
  display: flex;
}

.header-content {
  width: 1440px;
  margin: auto;
  align-content: center;
}

.logo {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 100px;
  top: 40px;
  display: flex;
  margin: auto;
}

.logo p {
  position: absolute;
  width: 108px;
  height: 23px;
  left: 50px;
  top: 10px;
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  color: #272727;
}

.language {
  position: absolute;
  width: 24px;
  height: 21px;
  left: 318px;
  top: 50px;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #272727;
  opacity: 0.8;
}

.icon-menu {
  margin-left: 1500px;
  align-self: center;
}

.menu-list {
  background-color: #fff;
  border: solid 1px #c5c5c5;
  height: 193px;
  width: 150px;
  position: absolute;
  text-align: center;
  margin-right: 100px;
}

/* .menu-list-none {
  background-color: #fff;
  border: solid 1px #c5c5c5;
  height: 192px;
  width: 150px;
  position: absolute;
  text-align: center;
  margin-right: 100px;
  display: none;
} */

.menu-list li {
  list-style-type: none;
  text-transform: uppercase;
  color: #c5c5c5;
  font-size: 18px;
  padding: 10px;
  border-bottom: #c5c5c5 dashed 1px;
  cursor: pointer;
}

.menu-list li:hover {
  color: gray;
}

/*
-----Hero Page-----
*/

.heropage {
  max-width: 1440px;
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  align-items: center;
  margin-left: 150px;
}

.herotext {
  margin: auto;
  max-width: 600px;
}

.placeholder {
  display: flex;
  flex-direction: row;
}

input {
  background: #fff;
  opacity: 0.6;
  border: 1px solid #c5c5c5;
  box-sizing: border-box;
  border-radius: 31.5px;
  width: 487px;
  flex-direction: row;
  padding-left: 20px;
  font-size: 18px;
  color: #c5c5c5;
}

.input:focus {
  outline: none;
}

.contact-btn {
  cursor: pointer;
  width: 158px;
  background: #3030ff;
  border-radius: 31.5px;
  padding: 5px 15px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  position: relative;
  right: 150px;
}

.contact-btn:hover {
  opacity: 0.6;
}

.heroimg {
  align-self: auto;
  max-width: 715px;
}

/*
-----Special-----
*/

.special {
  width: 1440px;
  margin: 140px auto 40px;
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.expertise {
  align-self: center;
}

.boxes {
  width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
}

.box {
  width: 373px;
  height: 274px;
  border: 1px solid lightgray;
  display: inline-block;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 30px;
  position: relative;
  margin: 45px;
}

.box img {
  float: left;
  width: 60px;
  height: 60px;
}

.box h3 {
  float: left;
  position: relative;
  left: 20px;
  font-size: 28px;
}

.box p {
  float: left;
  font-size: 22px;
  text-align: left;
  margin-top: 20px;
}

#box-1 p {
  position: relative;
  top: 14px;
}

#box-3 p {
  font-size: 22px;
  margin-top: 10px;
  position: relative;
  top: 22px;
}

/*
-----Design-----
*/

.design {
  width: 1440px;
  margin: 140px auto 40px;
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.strategic,
.optimaze {
  display: flex;
  justify-content: center;
}

.optimaze {
  position: relative;
  margin: 50px;
}

.strategic h3,
.optimaze h3 {
  color: rgba(39, 39, 39, 0.6);
}

.strategic h2,
.optimaze h2 {
  font-weight: bold;
}

.strategic img {
  float: left;
}

.optimaze img {
  display: flex;
  justify-self: right;
}

.strategic-text,
.optimaze-text {
  width: 650px;
  position: relative;
}

.strategic-text {
  top: 20px;
  margin-left: 50px;
}

.optimaze-text {
  margin-right: 50px;
}

/*
-----About us-----
*/

.about-us {
  width: 100%;
  height: 729px;
  margin: 140px auto 40px;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  align-items: center;
  background-color: rgba(48, 48, 255, 0.2);
}

.about-text {
  max-width: 568px;
  margin-right: 170px;
  line-height: 33px;
}

.about-text h1 {
  font-size: 68px;
}

.numbers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 370px;
  width: 321px;
}

.number-box {
  display: flex;
  width: 321px;
  height: 110px;
  background-color: #fafafa;
  padding: 20px;
  justify-content: space-between;
}

.number-box h2 {
  color: #3030ff;
  font-weight: 500;
}

#number1 {
  top: 2556px;
}

#number2 {
  top: 2686px;
}

#number3 {
  top: 2816px;
}

#number1,
#number2,
#number3 {
  border-radius: 20px;
  margin: 20px;
}

.numbers-text {
  float: left;
}

.numbers-img {
  top: 50%;
  float: right;
  align-self: center;
}

/*
-----Team-----
*/
.team {
  width: 1440px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.rectangles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}

.rectangle {
  border-radius: 10%;
  width: 370px;
  height: 465px;
  background-color: rgba(48, 48, 255, 0.1);
}

.photos {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}

#photo2 {
  width: 353px;
  height: 441px;
  position: relative;
  top: 110px;
  left: 200px;
}

#photo3 {
  position: relative;
  left: 440px;
  top: 8px;
}

figcaption {
  margin-top: 20px;
  text-align: center;
}

/*
-----Footer-----
*/

.footer {
  width: 100%;
  height: 439px;
  margin-top: 84px;
  background: #fafafa;
  align-content: center;
}

.footer-content {
  width: 1440px;
  height: 274px;
  display: flex;
  margin: auto;
  position: relative;
  top: 60px;
}

.footer-adress {
  width: 285px;
  height: 235px;
  padding-right: 305px;
  display: flex;
  flex-direction: column;
  margin-right: 292px;
}

#adress {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.logo-bg {
  width: 285px;
  height: 60px;
  display: flex;
}

.logo-img {
  width: 60px;
  height: 60px;
  flex-direction: row;
}

.logo-text {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 40px;
  position: relative;
  top: 5px;
}

.links {
  width: 328px;
  height: 274px;
  border-right: 2px solid #3030ff;
  border-left: 2px solid #3030ff;
  display: flex;
  padding: 50px;
}

.list li {
  text-transform: uppercase;
  list-style-type: none;
  font-size: 18px;
  margin: 20px;
  position: relative;
  bottom: 60px;
}

.social li {
  list-style-type: none;
  padding: 10px;
  margin-left: 127px;
}

/* ---Mobile--- */

@media (max-width: 768px) {
  .heropage {
    flex-direction: column;
  }

  .box {
    margin: 45px 5px;
  }
}

@media (max-width: 600px) {
  .heropage .boxes .design .about-us .team {
    flex-direction: column;
  }
}
