$light-grey: #fafafa;
$blue: #3030ff;

body {
  margin-left: auto;
  margin-right: auto;
}

#header {
  display: block;
  background-color: $light-grey;
  height: 146px;
}

h1 {
  font-weight: bold;
}

li {
  list-style-type: none;
}
